html {
    scroll-behavior: smooth;
}

a[hx-get] {
    /* padding: 0.5rem 0.75rem; */
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

a[hx-get]:hover {
    color: #0056b3;
}

#indicator {
    background-color: blue;
}