<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page | htmx</title>

    <link rel="stylesheet" href="base.css" />

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <a
          hx-get="index.html"
          hx-target="#main-content"
          hx-swap="outerHTML"
          hx-select="#main-content"
          hx-indicator="#indicator"
          hx-push-url="true"
          title="Load index"
          >index</a
        >
        <a
          hx-get="main.html"
          hx-target="#main-content"
          hx-swap="outerHTML"
          hx-select="#main-content"
          hx-indicator="#indicator"
          hx-push-url="true"
          title="Load main"
          >main</a
        >
        <a
          hx-get="page.html"
          hx-target="#main-content"
          hx-swap="outerHTML"
          hx-select="#main-content"
          hx-indicator="#indicator"
          hx-push-url="true"
          title="Load page"
          >page</a
        >
      </nav>
    </header>
    <main>
        <img
        id="indicator"
        src="three-dots.svg"
        width="60"
        class="htmx-indicator"
        alt="Loading..."
      />
      <div id="main-content">
        <section>
          <h1>page | htmx</h1>
          <p>
            This is the page file. It is loaded into the page element of the
            index.html file.
          </p>
        </section>
      </div>
    </main>
  </body>
</html>
